.App {
  max-width: 100vw;
  min-height: 100vh;
  background: black url(assets/images/pexels-pixabay-531880.jpg) center center no-repeat fixed;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.content_container {
  background-color: rgb(241, 241, 241);
  width: 900px;
  min-height: 930px;
  border-radius: 15px;
}

.content {
  padding: 20px 30px;
}

h1 {
  text-align: center;
  font-size: 33px;
}

h2 {
  font-size: 27px;
}

hr {
  background-color: black;
  height: 1px;
}

label {
  font-size: 18px;
}

.section_container {
  margin-top: 25px;
  margin-bottom: 25px;
}

.section_title {
  margin-bottom: 20px;
}


.pesquisar_input {
  width: 100%;
  border-radius: 5px;
  padding: 8px 10px;
}

.filtrar_input_container {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.status_container {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.status_select_container {
  margin-top: 8px;
}

.select {
  height: 25px;
  border-radius: 5px;
}

.status_select {
  margin-top: auto;
  width: 80%;
}

.tarefas_title {
  text-align: center;
}

.tarefa_card {
  display: flex;
  flex-direction: row;
  background-color: white;
  width: 100%;
  height: 90px;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.178);
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.137);
  padding: 12px;
}

.tarefa_title_container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-right: auto;
}
.tarefa_title{
  color: gray;
}
.tarefa_categoria_title{
  color: gray;
}
.tarefa_buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 15px;
}
.tarefa_button{
  color: white;
  padding: 5px;
  border-radius: 3px;
  cursor: pointer;
}

.completar_tarefa_button {
  background-color: green;
}

.excluir_tarefa_button {
  background-color: red;
  width: 30px;
}

.ordem_button_container {
  padding-left: 5px;
  margin-top: 5px;
}

.ordem_button {
  background-color: rgb(59, 0, 114);
  color: white;
  margin-inline: 5px;
  padding: 5px 8px;
  cursor: pointer;
}

.ordem_button:hover {
  background-color: rgb(113, 27, 187);
}

.criar_tarefa_input_container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.categoria_select {
  height: 35px;
}

.input_border {
  border: 1px solid rgba(0, 0, 0, 0.185);
}
.tarefa_completa_card{
  background-color: rgb(230, 230, 230);
}
.tarefa_completa_title{
  text-decoration: line-through;
}
.tarefa_completa_button{
  background-color: rgb(72, 102, 72);
}
