.App{
  width: 100vw;
  height: 100vh;
  background: black url(assets/images/pexels-pixabay-531880.jpg) center center no-repeat fixed;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}
.content_container{
  background-color: rgb(241, 241, 241);
  width: 900px;
  height: 930px;
  border-radius: 15px;
}
.content{
  padding: 20px 30px;
}
h1{
  text-align: center;
  font-size: 33px;
}
h2{
  font-size: 27px;
}
hr{
  background-color: black;
  height: 1px;
}
label{
  font-size: 18px;
}
.section_container{
  margin-top: 35px;
  margin-bottom: 25px;
}
.pesquisar_input_container{
  margin-top: 20px;
}
.pesquisar_input{
  width: 100%;
  border-radius: 5px;
  padding: 8px 10px;
}
.filtrar_input_container{
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  gap: 20px;
}
.status_container{
  display: flex;
  flex-direction: column;
  width: 50%;
}
.status_select_container{
  margin-top: 8px;
}
.status_select{
  margin-top: auto;
  width: 80%;
  height: 25px;
  border-radius: 5px;
}
.ordem_button_container{
  padding-left: 5px;
  margin-top: 5px;
}
.ordem_button{
  background-color: rgb(59, 0, 114);
  color: white;
  margin-inline: 5px;
  padding: 5px 8px;
  cursor: pointer;
}
.ordem_button:hover{
  background-color: rgb(113, 27, 187);
}
.input_border{
  border: 1px solid rgba(0, 0, 0, 0.185);
}